.header-container {
  display: flex;
  gap: 1rem;
  /* background-color: #262626;
  color: aliceblue; */
  padding: 1rem;
  align-items: center;
}
.dark-mode {
  background-color: #262626;
  color: aliceblue;
}
.light-mode {
  background-color: #f0f0f0;
  color: #262626;
}
.header-container > h1 {
  font-size: 1.3rem;
  cursor: pointer;
}
.header-container > form {
  flex-grow: 1;
  display: flex;
}
.search-input {
  background-color: white;
  padding: 0.3rem 0.8rem;
  color: black;
  font-size: 0.8rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
}
.search-input::placeholder {
  color: #a0a0a0;
}
.header-submit-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: white;
  color: black;
  padding: 0.3rem 0.8rem;
  border: none;
  cursor: pointer;
}
