.header-container {
  display: flex;
  gap: 1rem;
  background-color: #262626;
  color: aliceblue;
  padding: 1rem;
  align-items: center;
}
.header-container > h1 {
  font-size: 1.3rem;
}
.header-container > form {
  flex-grow: 1;
  display: flex;
}
.search-input {
  background-color: white;
  padding: 0.3rem 0.8rem;
  color: black;
  font-size: 0.8rem;
  border-radius: 1rem;
  width: 100%;
}
