.edit-modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-modal-content {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: min(90vw, 40rem);
}
.edit-modal-close-btn {
  position: absolute;
  transform: translate(-40%, 40%);
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.edit-modal-content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.modal-form-container label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -0.8rem;
}
.modal-form-container input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
.modal-form-container textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  height: 10rem;
}
.modal-form-container button {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: green;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: scale 0.3s;
}
.modal-form-container button:hover {
  scale: 1.02;
}
