.product-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}
.card-img-top {
  aspect-ratio: 3/2;
  object-fit: cover;
}
.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}
.card-title {
  font-weight: 900;
  font-size: 0.8rem;
}
.card-desc {
  font-size: 0.7rem;
}
.card-price {
  font-weight: 900;
  font-size: 0.9rem;
  color: blue;
}
.card-btn {
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(64, 129, 254);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
